ul {
  list-style: none;
  margin-left: 20px;
}
.uls ul {
  display: flex;
  gap: 50px;
  color: rgb(77, 77, 247);
}
.wrapper {
  margin-left: 165px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.logo span {
  margin-left: 250px;
  font-size: 20px;
  color: blue;
  font-weight: 700;
  cursor: pointer;
}
.btn button {
  width: 160px;
  height: 26px;
  background: #111b47;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 200px;
}
